@import '../../styles/variables';
@import '../../styles/mixins';

.kedro-pipeline {
  position: relative;
  height: 100%;
  overflow: hidden;
  color: var(--color-text);
  background: var(--color-bg-1);

  &.kui-theme--light {
    @media print {
      background: none;
    }
  }
}

.pipeline-title {
  @include screenReaderOnly;
}

.content-frame {
  position: relative;
  left: 80px;
}

.iframe-style {
  width: calc(100% - 20px);
  margin-left: 50px;
  display: block;
}
